<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ub.tfg.kukuicup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:name="com.ub.tfg.kukuicup.controller.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"

         >
        <activity
            android:name=".vista.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".vista.MainActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".vista.MenuActivity"
            android:icon="@drawable/ic_launcher"
            android:screenOrientation="landscape" >            
        </activity>
        <activity
            android:name=".admin.vista.MenuAdminActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".vista.VideoActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".vista.FormActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".vista.JokeActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".vista.SavingActionActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".vista.EnergyChallengeActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".vista.EnergyChallengeResume"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".vista.UserProfileActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".vista.RankingTeamsActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".admin.vista.AllPlayersActivity"
            android:screenOrientation="portrait"
            android:label="@string/allPlayersLabel">
        </activity>
        <activity
            android:name=".admin.vista.AllRegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/allRegisterLabel">
        </activity>
        <activity
            android:name=".admin.vista.NewPlayerActivity"
            android:screenOrientation="portrait"
            android:label="@string/newPlayerLabel">
        </activity>
        <activity
            android:name=".admin.vista.NewTeamActivity"
            android:screenOrientation="portrait"
            android:label="@string/newTeamLabel">
        </activity>
        <activity
            android:name=".admin.vista.EditPlayerActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:label="@string/editPlayerLabel">
        </activity>

        <!-- All Product Activity -->
        <!-- All Product Activity -->

        <!-- Add Product Activity -->

        <!-- Edit Product Activity -->

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

     </application>
    
    

</manifest>